---
import HowItWorks from "../components/how-it-works.astro";
import InstallCommand from "../components/install-command.astro";
import QuickStart from "../components/quick-start.astro";
import SquircleDemo from "../components/squircle-demo.astro";
import SquirclePlaygroundPanels from "../components/squircle-playground-panels.astro";
import Layout from "../layouts/layout.astro";

const title = "hyperellipse";
---

<Layout title={title}>
  <main
    class="flex min-h-dvh items-center flex-col max-w-xl px-4 mx-auto pt-12 gap-8 tracking-tight pb-50"
  >
    <header class="flex flex-col gap-6 items-center">
      <h1
        class="text-[2.5rem] font-bold text-gradient bg-linear-30 from-foreground to-foreground/60"
      >
        {title}
      </h1>
      <h2 class="max-w-lg text-center text-lg font-semibold text-balance">
        <span class="text-foreground/50">CSS</span>
        <code class="font-mono bg-card px-1 py-0.5 rounded-md"
          >corner-shape</code
        >
        <span class="text-foreground/50">
          polyfill. Render squircles, superellipses, scoops, notches in any
          browser. Supports every frontend framework. SSR-friendly.</span
        >
      </h2>
    </header>
    <section class="flex w-full flex-col gap-4" data-squircle-playground>
      <div
        class="card squircle flex h-80 w-full items-center justify-center rounded-3xl bg-card"
      >
        <SquircleDemo />
      </div>
      <SquirclePlaygroundPanels />
    </section>
    <InstallCommand />
    <QuickStart />
    <HowItWorks />
  </main>
</Layout>
